<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.health_login">

    <application>
        <activity android:name=".activity.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.ShowActivity" />
        <activity android:name=".activity.activity.EnterActivity" />
        <activity android:name=".activity.activity.MessageActivity" />
        <activity android:name=".activity.activity.PerfectActivity" />
        <activity android:name=".activity.activity.PerfectTWOActivity" />
        <activity android:name=".activity.activity.NewPwdActivity" />
        <activity android:name=".activity.activity.ForgetActivity"></activity>
    </application>

</manifest>